body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #239ac2; 
  margin: 0;
}


.button {
  position: absolute;
  top: 20px; 
  left: 20px;
  padding: 20px;
}

.botones {
  padding: 10px 20px;
  background-color: #2761ff;
  font-size: 14px;
  text-decoration: none;
  border-radius: 80px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.botones a {
  text-decoration: none;
  font-size: 14px;
}

.botones a:hover {
  text-decoration: none;
  font-size: 14px;
}

.botones:hover {
  padding: 10px 20px;
  background-color: #1a40a7;
  transform: scale(1.05);
  font-size: 14px;
}

.birthdayCard {
  position: relative;
  width: 425px; 
  height: 595px; 
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(4250px); 
  transition: 1s;
}

.birthdayCard:hover {
  transform: perspective(4250px) rotate(5deg); 
  box-shadow: inset 170px 34px 170px rgba(0, 0, 0, 0.2),
    0 17px 170px rgba(0, 0, 0, 0.5);
}

.birthdayCard:hover .cardFront {
  transform: rotateY(-160deg);
}

.birthdayCard:hover .happy {
  visibility: hidden;
}

.cardFront {
  position: relative;
  background-color: #fff;
  width: 425px; 
  height: 595px;
  overflow: hidden;
  transform-origin: left;
  box-shadow: inset 170px 34px 170px rgba(0, 0, 0, 0.2),
    51px 0 85px rgba(0, 0, 0, 0.4);
  transition: 0.6s;
}

.happy {
  font-family: Tahoma, sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 51px; 
  background-image: linear-gradient(120deg, #ffd856 0%, #f98c6e 100%);
  transition: 0.1s;
}

.balloons {
  position: absolute;
}

.balloon-1,
.balloon-2,
.balloon-3,
.balloon-4 {
  position: absolute;
  width: 144.5px;
  height: 161.5px; 
  border-radius: 50%;
}

.balloon-1 {
  background-color: rgba(255, 40, 90, 0.7);
  left: -17px;
  top: 85px; 
}

.balloon-2 {
  background-color: rgba(9, 215, 160, 0.7);
  left: 85px;
  top: 34px;
}

.balloon-3 {
  background-color: rgba(255, 186, 26, 0.7);
  left: 187px; 
  top: 85px; 
}

.balloon-4 {
  background-color: rgba(12, 122, 159, 0.7);
  left: 289px; 
  top: 85px; 
}

.balloon-1::before,
.balloon-2::before,
.balloon-3::before,
.balloon-4::before {
  content: "";
  position: absolute;
  width: 1.7px; 
  height: 263.5px;
  background-color: #ffc848;
  top: 161.5px; 
  left: 73px; 
}

.balloon-1::after,
.balloon-2::after,
.balloon-3::after,
.balloon-4::after {
  content: "";
  position: absolute;
  border-right: 11.9px solid transparent;
  border-left: 11.9px solid transparent; 
  top: 160px; 
  left: 62.9px;
}

.balloon-1::after {
  border-bottom: 17px solid #ff3e6b; 
}

.balloon-2::after {
  border-bottom: 17px solid #04b183; 
}

.balloon-3::after {
  border-bottom: 17px solid #ffc94c; 
}

.balloon-4::after {
  border-bottom: 17px solid #13a9bd; 
}

.cardInside {
  position: absolute;
  background-color: #fff;
  width: 425px; 
  height: 595px;
  z-index: -1;
  left: 0;
  top: 0;
  box-shadow: inset 170px 34px 170px rgba(0, 0, 0, 0.2);
}

p {
  font-family: "Brush Script MT", cursive;
  margin: 68px; 
  color: #333;
}

.name {
  position: absolute;
  left: 255px; 
  top: 340px; 
  color: #333;
}

.back {
  font-family: Tahoma, sans-serif;
  font-size: 30px;
  color: #333;
  text-align: center;
  margin: 51px; 
  outline-color: #333;
  outline-style: dotted;
}
