body {
  background-color: black;
}
.buttons {
  position: absolute;
  top: 0; 
  left: 20px;
  padding: 20px;
}

.boton {
  padding: 10px 20px;
  background-color: #2761ff;
  font-size: 14px;
  text-decoration: none;
  border-radius: 80px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: none;
}

.boton a {
  text-decoration: none;
  font-size: 14px;
}

.boton a:hover {
  text-decoration: none;
  font-size: 14px;
}

.boton:hover {
  padding: 10px 20px;
  background-color: #1a40a7;
  transform: scale(1.05);
  font-size: 14px;
}

#pacman {
  height: 470px;
  width: 382px;
  border-radius: 5px;
  margin: 20px auto;
}

#shim {
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  visibility: hidden
}

h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  color: yellow;
}

body {
  width: 342px;
  margin: 0px auto;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #0000FF;
}